{% extends 'base.html' %}
{% block head %}
<title>About</title>
<meta name="description" content="{{ desc }}"/>
<meta name="keywords" content="{{ key }}"/>
{% endblock %}
 
{% block body %}
	{% for obj in postList %}
		<div class="about-image">
	    	<img src="{{ obj.image.url }}" alt="" class="about-image-src">
	    </div>
	    <div class="about-titlecontent">
		    <p>{{ obj.content | safe  }}</p>
	    </div>
	{% endfor %}
	<div class="about-links">
		<div class="about-icons">
			<a href="https://www.instagram.com/natashagarlukovich/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
			<a href="https://www.facebook.com/natashagarlukovich" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
			<a href="https://vk.com/natashagarlukovich" target="_blank"><ion-icon name="logo-vk"></ion-icon></a>
		</div>
		<p><b>natashagarlukovich@gmail.com</b></p>
	</div>
	<div class="clearfix"></div>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
{% endblock %}