* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fafafa;
    color: #717171;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* REUSABLE COMPONENTS */

.row {
    margin: 0 auto;
}

.box {
    padding: 1%;
}
/* ------------------------------------- */
li {
	text-decoration: none;
}
a:link,
a:visited {
	color: #717171;
    text-decoration: none;
    padding-bottom: 1px;
    -webkit-transition:color 0.2s;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #fcaf11;
}

.main-nav-1 {
	list-style: none;
	float: left;
	margin: 4% 0; 
}
.main-nav-2 {
	list-style: none;
	float: right;
	margin: 4% 0; 
}

.main-nav-1 li {
	display: inline-block;
	margin:0 0 0 25px;
	font-size: 65%
}


.main-nav-2  li {
	display: inline-block;
	font-size: 65%;
	margin: 0 25px 0 0;
	}

.logo {
	height: 50px;
	width: auto;
	margin: 3% 25%;
	border-radius: 50%;
}

.main-showcase {
	padding: 0;
	list-style: none;
    width: 100%;
    background-color: #fcaf12;
}
.main-showcase li {
    display: block;
    float: left;
    width: 33%;
}

.photo {
	width: 100%;
    margin: 0;
    overflow: hidden;
}
.photo img {
	opacity: 1;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: color 0.5s, opacity 0.2s;
    z-index: 1;
}

.photo img:hover {
	opacity:0.3;
	
}