<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/grid.css' %}" rel="stylesheet" type="text/css">
  
  {% block head %}
  <title>Title</title>
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<header>
    
		<nav>
			<div class="row">
				<ul class="main-nav-1">
                    <li>
                      {% if request.path == "/" %}
                      <a href="/" style="color: #fcaf11;">PORTFOLIO</a>
                      {% else %}
                      <a href="/">PORTFOLIO</a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.path == "/blog/" %}
                      <a href="/blog" style="color: #fcaf11;">BLOG</a>
                      {% else %}
                      <a href="/blog">BLOG</a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.path == "/about/" %}
                      <a href="/about" style="color: #fcaf11;">ABOUT/CONTACT</a>
                      {% else %}
                      <a href="/about">ABOUT/CONTACT</a>
                      {% endif %}
                    </li>

                </ul>
                {% for obj in logoList %}
                <img src="{{ obj.image.url }}" alt="" class="logo">
                {% endfor %}
                <ul class="main-nav-2">
                    <li>
                      {% if request.path %}
                      <a href="#" style="color: #fcaf11;">RU</a>
                      {% else %}
                      <a href="#">RU</a>
                      {% endif %}
                    </li>
                    <li>
                      {% if request.path %}
                      <a href="#" style="color: #fcaf11;">EN</a>
                      {% else %}
                      <a href="#">EN</a>
                      {% endif %}
                    </li>
                </ul>
			</div>
		</nav>
	</header>
	{% block body %}
	{% endblock %}
<footer><p class="foot-p"> &copy; 2019 NATASHA GARLUKOVICH</p></footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js'></script>
<script src="{% static 'js/gallery.js' %}"></script>
</body>

</html>